.history{
    width: 100%;
    height: auto;
    margin: 50px;
}

.our-history{
    width: 90%;
    padding: 10px;
}

.our-history p{
    font-size: 20px;
    line-height: 2.3pc;
}

@media (max-width: 768px){
    .history{
        width: 100%;
        height: auto;
        margin: 2px;
    }
    .our-history{
        width: 90%;
        padding: 1px;
    }
    .our-history h4{
        font-size: 16px;
    }
    .our-history p{
        font-size: 14px;
        line-height: 1.2pc;
    }
    .our-history img{
        width: 100%;
    }
}