@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

html, body{
    background: #eff3f8;
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden;
    cursor: auto;
}




/*---------HEADER---------*/
.nav-top{
    background: #011c39;
    width: 100%;
    position: fixed;
    z-index: 9999;
  }
  .nav-top:after{
    content: '';
    clear: both;
    display: table;
  }
  .nav-top .logo{
    float: left;
    color: white;
    line-height: 10px;
    padding-left: 40px;
  }
  .nav-top ul{
    float: right;
    margin-right: 40px;
    list-style: none;
    position: relative;
  }
  .nav-top ul li{
    float: left;
    display: inline-block;
    margin: 0 5px;
    margin-top: 20px;
  }
  
  .nav-top ul li ul li{
    background: #011c39;
    font-size: 14px;
  }
  
  .nav-top ul li ul li:hover{
    background: #000000;
    transition: 1s;
  }
  .nav-top ul li a{
    color: white;
    line-height: 15px;
    text-decoration: none;
    font-size: 14px;
    padding: 6px 8px;
  }
  
  .nav-top ul ul li a:hover{
    box-shadow: none;
  }
  .nav-top ul ul{
    position: absolute;
    top: 30px;
    opacity: 0;
    visibility: hidden;
    transition: top .6s;
  }
  .nav-top ul ul ul{
    border-top: none;
  }
  .nav-top ul li:hover > ul{
    top: 45px;
    opacity: 1;
    visibility: visible;
  }
  .nav-top ul ul li{
    position: relative;
    margin: 0px;
    width: 250px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0.3);
  }
  .nav-top ul ul li a{
    line-height: 40px;
  }
  
  .show,.icon{
    display: none;
  }

  .nav-top input{
    display: none;
  }
  
  
  @media all and (max-width: 768px) {
  
    .nav-top{
      background: #011c39;
      width: 100%;
      overflow: hidden;
      position: relative;
    }
    .nav-top ul{
      margin-right: 0px;
      float: left;
    }
    .nav-top .logo{
      padding-left: 10px;
    }
    

    .show + a, .nav-top ul{
      display: none;
    }

    


    .nav-top ul li,nav ul ul li{
      display: block;
      width: 100%;
    }
    .nav-top ul li a:hover{
      box-shadow: none;
    }
    .nav-top ul li ul li{
      width: 100%;
    }
    .show{
      display: block;
      color: white;
      font-size: 14px;
      padding: 0 10px;
      line-height: 30px;
      cursor: pointer;
    }
    
  
  
    .icon{
      display: block;
      color: white;
      position: absolute;
      top: 0;
      right: 20px;
      line-height: 70px;
      cursor: pointer;
      font-size: 30px;
    }
  
    .nav-top ul ul{
      top: 30px;
      border-top: 0px;
      float: none;
      position: static;
      display: none;
      opacity: 1;
      visibility: visible;
      background: #f2f2f2;
      
    }
    .nav-top ul ul li a{
        line-height: 40px;
      }
    .nav-top ul ul a{
      padding-left: 80px;
    }
    .nav-top ul ul ul a{
      padding-left: 80px;
    }
    .nav-top ul ul ul li{
      position: static;
    }
    [id^=btn]:checked + ul{
      display: block;
    }
    .nav-top ul ul li{
      border-bottom: 0px;
    }
    span.cancel:before{
      content: '\f00d';
    }
  }
  
  
  












.header-slide{
    height: 90vh;
    background-color: #a1a188;
    width: 100%;

}

.slide1, .slide2, .slide3, .slide4{
    height: 90vh;
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 1;
    overflow: hidden;
}

.slide-img img{
    height: auto;
    width: 120%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    animation: zoom-in 10s linear infinite ;
    overflow: hidden;
    opacity: 1;
}

@keyframes zoom-in{
    100%{
         width: 100%;
     }
 }

.text-box{
    height: 100vh;
    width: 100%;
    color: #000;
    text-align: center;
    position: absolute;
    background: rgba(0,0,0,0.2);
}


.text-box h1{
    font-size: 60px;
    margin-bottom: 20px; 
    margin-top: 450px;
    font-family: Verdana, Geneva,  Tahoma, italic, sans-serif;
    color: #ffff;
    font-weight: 400;

    
}
.text-box p{
    font-size: 20px;
    color: #fff;
}


.slide1{
    animation: slide1 40s  linear infinite ;
}

.slide2{
    animation: slide2 40s  linear infinite ;
}

.slide3{
    animation: slide3 40s linear infinite ;
}

.slide4{
    animation: slide4 40s linear infinite ;
}
@keyframes slide1{
    0%{
        visibility: visible;
    } 
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}


@keyframes slide2{
    0%{
        visibility: hidden;
    } 
    25%{
        visibility: hidden;
    }
    50%{
        visibility: visible;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}

@keyframes slide3{
    0%{
        visibility: hidden;
    } 
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
}


@keyframes slide4{
    0%{
        visibility: hidden;
    } 
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}



.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #000;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn a{
    color: #000;
    text-decoration: none;
}
.hero-btn:hover{
    border: 1px solid #011c39;
    background: #011c39;
    color: #fff;
    transition: 1s;
}

@media(max-width: 768px){
    .header-slide{
        height: 40vh;
        width: 100%;
    }
    .slide1, .slide2, .slide3, .slide4{
    
        height: 40vh;
        width: 100%;
        position: absolute;
        left: 0;
        opacity: 1;
        overflow: hidden;
    }

    .text-box{
      
        height: 100%;
        width: 100%;
        color: #000;
        text-align: center;
        position: absolute;
        background: rgba(34, 34, 34, 0.5);
        overflow: hidden;
    }
    
    
    .text-box h1{
        font-size: 16px;
        margin-bottom: 5px;
        margin-top: 130px;

        
    }
    .text-box p{
        margin: 10px 0 20px;
        font-size: 8px;
        color: #fff;
    }

    .slide1, .slide2, .slide3, .slide4{
        height: 40vh;
        width: 100%;
        position: absolute;
        left: 0;
        opacity: 1;
        overflow: hidden;
    }
    
    .slide-img img{
        height: 100%;
        width: 101%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: smooth translate(-50%,-50%);
        animation: zoom-in 10s linear infinite ;
        overflow: hidden;
        opacity: 1;
    }
    
    @keyframes zoom-in{
        100%{
             width: 98%;
         }
     }






    .slide1{
        animation: slide1 40s  linear infinite ;
    }
    
    .slide2{
        animation: slide2 40s  linear infinite ;
    }
    
    .slide3{
        animation: slide3 40s linear infinite ;
    }
    
    .slide4{
        animation: slide4 40s linear infinite ;
    }
    @keyframes slide1{
        0%{
            visibility: visible;
        } 
        25%{
            visibility: hidden;
        }
        50%{
            visibility: hidden;
        }
        75%{
            visibility: hidden;
        }
        100%{
            visibility: visible;
        }
    }
    
    
    @keyframes slide2{
        0%{
            visibility: hidden;
        } 
        25%{
            visibility: hidden;
        }
        50%{
            visibility: visible;
        }
        75%{
            visibility: hidden;
        }
        100%{
            visibility: hidden;
        }
    }
    
    @keyframes slide3{
        0%{
            visibility: hidden;
        } 
        25%{
            visibility: hidden;
        }
        50%{
            visibility: hidden;
        }
        75%{
            visibility: visible;
        }
        100%{
            visibility: hidden;
        }
    }
    
    
    @keyframes slide4{
        0%{
            visibility: hidden;
        } 
        25%{
            visibility: hidden;
        }
        50%{
            visibility: hidden;
        }
        75%{
            visibility: hidden;
        }
        100%{
            visibility: visible;
        }
    }
    

    
}



/*-----VISION AND MISSION-----*/
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.profile__content{
    background: #011c39 ;
    width: 100%;
    height: 100%;
    padding: 60px;
    margin-top: 0px;
  }
  .row-VM{
      display: flex;
  }
  .profile__content h3 {
    letter-spacing: .2em;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.4em;
    border-color: #C9E498;
    color: #d93a56;
    border-bottom: solid 1px;
    line-height: 2;
  }
  .profile__content p {
    margin-top: 1em;
    letter-spacing: .05em;
    line-height: 1.6;
    font-weight: 300;
    word-wrap: normal;
  }
  .profile__content__item{
    padding-top: 1em;
    padding-bottom: 1em;
  }

  @media(max-width: 768px){ 
    .profile__content{
        background: #011c39 ;
        width: auto;
        height: auto;
        margin-top: 0px;
        padding: 10px;
      }

      .profile__content p {
        margin-top: 0px;
        letter-spacing: .05em;
        line-height: 1.4;
        font-weight: 300;
      }

      .row-VM{
        display: block;
    }
    .profile__content__item p {
      
        width: 100%;
      }
  }



/*-----YOUTUBE-----*/
.youtube{
    width: 100%;
}
.youtube-link{
    width: 98%;
    display: flex;

}
.video-content{
    padding: 20px;
    
    

}
iframe{
    border-radius: 5px;
}
.video-content p{
    padding-left: 0px;
    padding-right: 0px;
    font-size: 17px;
    border: 1px solid #011c39;
    border-radius: 20px;
    padding: 20px;
    

}
.video{
    margin-top: 70px;
    padding-bottom: 10px;
}
@media(max-width: 768px){
    .youtube-link{
        display: block;
        width: 97%;
    }
    iframe{
        width: 100%;
        height: 50vh;
        padding-left: 2%;
    }
    .video-content p{
        padding-left: 0px;
        padding-right: 0px;
        font-size: 14px;
        border: 0px solid #f44336;
        border-radius: 20px;
        padding: 5px;
        
    
    }
}
@media(max-width: 568px){
    .youtube-link{
        display: block;
        width: 97%;
    }
    iframe{
        width: 100%;
        height: 30vh;
        padding-left: 2%;
    }
}








/*-----BRANCHES-----*/
.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(/web1/images/header/green.JPG);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-header h1{
    margin-top: 200px;
}
.branch-fluid{
   width: 100%;
   margin: auto;
   padding-top: 1px;
   padding-bottom: 1px;
   background-color: #d4e0de;
}
.branch{
    width: 80%;
    margin: auto;
    padding-top: 1px;
    padding-bottom: 1px;
}
.branch-col{
   flex-basis: 48%;
   padding: 30px 2px;
   margin-left: 2%;
}
.branch-col img{
   width: 100%;
   cursor: pointer;
}
.branch-col p{
   padding: 15px 0 25px;
}

.home-branch-fluid{
    width: 100%;
    margin: auto;
    padding-top: 1px;
    padding-bottom: 1px;
 }
.home-branch{
    margin: auto;
    padding-top: 1px;
    padding-bottom: 1px;
    display: flex;
    width: 95%;
}
.home-branch .row a{
    text-decoration: none;
    color: #000;
    font-weight: 300;
}
.home-branch .row a:hover{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

.home-branch-col{
    padding: 10px;
    width: auto;
    height: auto;
    margin-left: 50px;
    border-radius: 20px;
    border: 1px solid #011c39;
    cursor: pointer;
}
.home-branch-col h3 {
    font-size: 18px;
}

.home-branch-col p{
   padding: 15px 0 25px;
   font-size: 16px;
}

.red-btn{
   border: 1px solid #011c39;
   background: transparent;
   color: #000;
   text-decoration: none;
   border-radius: 50px;
}
.red-btn:hover{
   color: #fff;
}

@media(max-width: 700px){
    .branch-fluid .row{
        display: block;

    }
    .branch-col img{
        visibility: hidden;
        width: 0%;
        cursor: pointer;
     }

     .home-branch{
        margin: auto;
        padding-top: 1px;
        padding-bottom: 1px;
        display: block;
        width: 100%;
    }
    .home-branch-col{
        padding: 10px;
        width: auto;
        height: auto;
        margin-left: 30px;
        border-radius: 20px;
        border: 0px solid #011c39;
        cursor: pointer;
        margin-top: 20px;

    }
    .home-branch-col h3 {
        font-size: 16px;
    }
    
    .home-branch-col p{
       padding: 5px 0 15px;
       font-size: 14px;
    }
    
     .sub-header{
        height: 10vh;
        width: 100%;
        background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(/web1/images/header/green.JPG);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        color: #fff;
    }
    .red-btn{
        border: 1px solid #011c39;
        background: transparent;
        color: #000;
        text-decoration: none;
        border-radius: 50px;
        font-size: 14px;
     }
    
}


/*--------TEAM TEAM----------*/
.team-card{
    width: 100%;
    background-color: #b5aac0;
    background-size: cover;
}
.team-card h1{
    color: #bf0041;
} 
.executive{
    padding-left: 20%;
    margin-bottom: 100px;
}
h1{
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    color: #333;
    padding-top: 40px;
    padding-bottom: 2px;
}
.col-md-4{
    margin-bottom: 25px;
    border-radius: 100%;
    margin-right: 25px;
}
h2{
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    padding-top: 5px;
    padding-bottom: 1px;
}
.container-executive{
    display: flex;
    width: 85%;
}
.container-staff{
    display: flex;
    width: 95%;
}

.img-fluid {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    cursor: pointer;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }

  .card-img:hover .img-fluid {
    opacity: 0.4;
  }
  
  .card-img:hover .middle {
    opacity: 1;
  }
  .text {
    color: #fff;
    font-size: 12px;
    padding: 32px;
  }

.card-img{
    overflow: hidden;
    background-color: #000000;
    
}
.row .col-sm-4{
    margin-top: 15px;
    margin-bottom: 15px;
}
.row .col-6{
    margin-top: 50px;
    margin-bottom: 15px;
}
.card-body{
    display: inline-block;
}
.card-body p{
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    padding: 0px;
    left: 0;
    right: 0;
}
.card-img img{
    transition: all 1.3s ease;
  
}

.card-img:hover img{
    transform: scale(1.2);
}

@media(max-width:700px){
    .card-body h2{
        font-size: 12px;
    }
    .row{
        width: 100%;
    }
    .container-staff{
        display: block;
    }
    .card-img img{
        display: block;
    }
    .container-executive{
        display: block;
    }
    .container-executive .row{
        display: block;
        padding-left: 10%;
    }
    .row .col-sm-4{
        margin-top: 15px;
        margin-bottom: 15px;
        max-width: 100%;
    }
    .row .col-6{
        margin-top: 50px;
        margin-bottom: 15px;
        max-width: 100%;
    }

}

/*------CALL TO ACTION--------*/

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/images/header/contact.JPG);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}
@media(max-width: 768px) {
    .cta h1{
        font-size: 15px;
    }
    .cta{
        margin: 0px auto;
        width: 96%;
        background-position: center;
        background-size: cover;
        border-radius: 5px;
        text-align: center;
        padding: 5px 0;
    }
    h1  {
        font-size: 10px;
    }

    h2, h3{
        font-size: 8px;
    }
}

/*--------OUR PARTNERS----------*/
.slick-slide{
    margin: 0 5px;
}
.slick-slide img{
    width: 100%;
    cursor: pointer;
}
.slick-slider{
    position: relative;
    display: block;
    box-sizing: border-box;
}
.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.slick-slide img{
    display: block;
}
.slick-initialized .slick-slide{
    display: block;
}

@media(max-width: 768px) {
    .slick-slide img{
        width: 100%;
        cursor: pointer;
        
    }
}




/*--------FOOTER----------*/

footer{
    padding: 100px;
    color: #fff;
    background-color: #011c39;
}
.footer-content{
    display: flex;
    width: 100%;
    align-items: center;
}
.footer > *{
    flex: 1 100%;
}
.footer-left{
    margin-right: 1.25em;
    margin-bottom: 2em;
    width: 40%;
}
.footer-left img{
    width: 25%;
}
.footer ul{
    list-style: none;
    padding-left: 0;
}
.footer li{
    line-height: 2em;
    font-size: 14px;
}
.footer li a{
    text-decoration: none;
}
.footer a{
    text-decoration: none;
}
.footer-right{
    width: 80%;
    display: flex;
    top: 1%;
}
.footer-right > *{
    flex: 1 100%;
    margin-right: 1.35em;
}
.box a{
    color: #fff;
    font-weight: 300;
    font-size: 12px;
}
.product .features .address{
    width: 10px;
}
.footer-left p{
    padding-right: 20%;
    color: #999;
    font-size: 14px;
}
.socials a{
    background: transparent;
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 10px;
}
.socials a i{
    color: #e7f2f4;
    padding: 20px;
    font-size: 30px;
}

@media(max-width: 768px){
    .footer-content{
        display: block;
        width: 100%;
    }

    .footer-left img{
        width: 150%;
        padding-right: 1%;
    }
    .footer-left p{
        width: 200%;
        padding-right: -100px;
        font-size: small;
    }
    .socials{
        display: flex;
    }
    .socials a i{
        color: #e7f2f4;
        padding: 0px;
        font-size: 25px;
    }

}



.footer-bottom{
    text-align: center;
    height: 12vh;
    align-content: center;
    display: flex;
    position: relative;
    text-align: center;
    color: #999;
    padding-top: 0px;
    background-color: #000;
    
}


  .footer-content-left{
    padding-top: 20px;
    display: flex; 
  }
  

  .footer-content-left p{
        font-size: 12px;
        list-style: none;
        text-decoration: none;
       
  }
  .footer-content-right li{
    font-size: 8px;
    list-style: none;
}

.footer-content-left li a{
    color: #e7f2f4;
    text-decoration: none;
}
.footer-content-right li a{
    color: #e7f2f4;
    text-decoration: none;
}

@media (max-width: 728px){
    footer{
        padding: 10px;
        color: #fff;
        background-color: #011c39;
    }


}

/*-----ABOUT ABOUT ABOUT ABOUT US-----*/
.about-us-container{
    width: 85%;
    margin: 100px;
    display: block;
    margin-top: 10px;
}

.about-us-content{
    width: 70%;
    margin: 150px;
    border-radius: 20px;
    margin-top: -70px;
    border: 1px solid #ccc;
}
.content-one{
    padding: 20px;
}

.content-one span{
    width: 500px;
    height: 10px;
    color: black;
}

.content-one p{
    font-size: 20px;
}

@media(max-width: 768px){
    .about-us-container{
        width: 100%;
        margin: 1px;
        display: block;
        margin-top: 4px;
    }
    .about-us-content{
        

        width: 90%;
        margin: 10px;
        border-radius: 0px;
        margin-top: 10px;
        border: 0px solid #ccc;
    }
    .content-one{
        padding: 10px;
    }
    .content-one h3{
        font-size: 18px;

    }
    .content-one p{
        font-size: 16px;
    }

}

/*-----PROGRAM PROGRAM PROGRAM-----*/

.program-container{
    width: 85%;
    margin: 100px;
    display: block;
    margin-top: 10px;
}

.program-content{
    width: 70%;
    margin: 150px;
    border-radius: 20px;
    margin-top: -70px;
    border: 1px solid #ccc;
}
.program-content-one{
    padding: 20px;
}

.program-content-one span{
    width: 500px;
    height: 10px;
    color: black;
}

.program-content-one p{
    font-size: 20px;
}
@media (max-width:768px){
    
.program-container{
    width: 100%;
    margin: 1px;
    display: block;
    margin-top: 1px;
}
.program-content{
    width: 90%;
    margin: 10px;
    border-radius: 0px;
    margin-top: 10px;
    border: 0px solid #ccc;
}
.program-content-one{
    padding: 2px;
}
.program-content-one p{
    font-size: 16px;
}
.program-content-one h3{
    font-size: 18px;
}
}






.about-us-who{
    width: 100%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 3%;
}

.about-us-who p{
    font-size: 19px;
}
.about-col{
   
}
.about-col img{
   width: 100%;
}
.about-col p{
   margin: 40px;
   padding: 0;
   line-height: 30px;
   font-size: 22px;
   justify-content: right;
}




@media (max-width: 728px){
    
.about-us-who{
    width: 100%;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 1px;
}
.about-us-who p{
    font-size: 16px;
}
.about-us-header{
    position: relative;
    text-align: center;
    left: 30%;
    position: relative;
    text-align: center;
    margin-top: 50%;
}
.about-us-header h1{
    margin-top: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}
.about-col p{
    padding-left: 1px;
    font-size: 12px;
 }
 .about-us{
    width: 100%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 5%;
}
.about-us h1{
    font-size: 15px;
}

}















/*--------TEAM TEAM TEAM--------*/


.executive{
    margin: 0px;
    padding: 4px;
    width: 100%;
}

.executive-content{
    width: 80%;
    display: block;
    margin: 100px;
   
}

.executive-content h3{
    text-align: center;
    margin-bottom: 50px;
}

.executive1{
    display: flex;
     margin-bottom: 100px;
}

.executive-content-1{
    margin-left: 30px;
    padding: 20px;
}
 
.executive-content-1 p{
    font-size: 18px;
}

.executive1 a{
    text-decoration:underline;
    color: #999;
    font-weight: 300;
}



.executive-img{

}

.executive-img img{
    width: 350px;
}

@media (max-width: 728px){
    .executive1{
        display: block;
         margin-bottom: 50px;
    }
    .executive{
        margin: 0px;
        padding: 4px;
        width: 100%;
    }
    
    .executive-content{
        width: 80%;
        display: block;
        margin: 10px;
       
    }
    .executive-content-1{
        margin-left: 1px;
        padding: 1px;
    }
     
    .executive-content-1 p{
        font-size: 14px;
    }
    .executive-content h3{
        text-align: center;
        margin-bottom: 20px;

    }
    .team-col{
        width: 100%;
        padding: 0px;
    }
    .team-col p{
        font-size: 12px;
    }

}




/*--------team--------*/
.our-team{
    width: 80%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-right: 15%;
}
.team-col{
    width: 550px;
}

.team-col p{
    font-size: 20px;
}
.team{
    margin:  50px;
    width: 80%;
    padding-left: 10%;
}
.container h1{
    text-align: left;
    font-size: 40px;
}
.profile{
    margin-top: 25px;
    cursor: pointer;
    margin-left: 50px;
}
.profile .img-box{
    opacity: 1;
    display: block;
    position: relative;
}
.profile h4{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}
.profile h6{
    font-size: 150x;
    margin-top: 15px;
}
.img-responsive{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.staff-team{
    margin:  50px;
    width: 80%;
    padding-left: 10%;

}

/*----THIS IS THE TEAM-------*/
.team-exective{
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(/images/body/bg2.jpg);
    background-size: cover;
    width: 100%;
    height: 80vh;
    display: flex;
}
.team-header{
    margin-top: 5%;
}
.team-header h1{
    color: #000;
    padding: 1%;
    margin-top: 0;
}
.team-header p{
    color: #099;
    padding-left: 30px;
    font-size: 16px;
}
.team-container{
    display: block; 
}
.team-row{
    display: flex;
}
.team-col{
    margin: 0px; 
    
}
.team-col img{
    width: 200px;
    height: 200px;
    margin-top: 5%;
    border-radius: 10%;
    cursor: pointer;
}









/*--------PROGRAMS AND SERVICES----------*/
.program-col{
    flex-basis: 80%;
    padding: 30px 30px;
 }
 .program-col p{
    padding: 5px;
 }

.achieve{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 5px;
    padding-left: 7%;
}

.achieve-col{
    flex-basis: 70%;
    padding: 30px 30px;
}
.work{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 5px;
    padding-left: 7%;
}

.work-col{
    flex-basis: 70%;
    padding: 30px 30px;
}


@media (max-width: 728px){
    .program-col{
        flex-basis: 100%;
        padding: 80px 10px;
     }
     .program-col p{
        padding: 1px;
        font-size: 12px;
     }
     .program-col h1{
         font-size: 18px;
     }

}

/*GET INVOLVED*/


/*IMPACT IMPACT IMPACT*/

.impact{
    width: 80%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 7%;
}

.impact-col{
    
}

.impact-img img{
    width: 800px;
}

.impact-content{
    width: 75%;
    align-items: center;
    margin-top: 50px;
    margin-left: 80px;
    padding: 0px;
}

.impact-content p{
    font-size: 18px;
    justify-content: left;
}

@media(max-width:768px){
    .impact{
        width: 90%;
        margin: 0px;
        padding-top: 4px;
        padding-bottom: 5px;
        padding-left: 0%;
    }
    .impact-img img{
        width: 400px;
    }

    
.impact-content{
    width: 100%;
    align-items: center;
    margin-top: 30px;
    margin-left: 10px;
    padding: 0px;
}
.impact-content p{
    font-size: 16px;
    justify-content: left;
}
}



/*GET GET GET GET INVOLVED*/

.involved-fluid {
    width: 100%;
    margin: auto;
    padding-top: 1px;
    padding-bottom: 1px;
}
.involved{
    width: 90%;
    margin: auto;
}
.involved-row{
    display: flex;
}
.involved-col{
    padding: 10px;
    padding-top: 120px;
    width: 800px;
}
.involved-col-img{
    visibility: visible;
    cursor: pointer;
}
.involved-col p{
    font-size: 20px;
}


@media (max-width:768px){
    .involved-col-img{
        visibility: collapse;
        height: 0.1vh;
    }
    .involved-col-img img{
        visibility: collapse;
    }
    .involved-fluid {
        width: 100%;
        margin: auto;
        padding-top: 1px;
        padding-bottom: 1px;
    }
    .involved{
        width: 90%;
        margin: auto;
    }
    .involved-row{
        display: block;
    }
    .involved-col{
        padding: 1px;
        padding-top: 10px;
        width: auto;
        margin-bottom: 2pc;
    }
    .involved-col p{
        font-size: 16px;
    }
    .involved-col h3{
        font-size: 18px;
    }    
}


/*RESOURCES RESOURCES RESOURCES*/


.resource-fluid {
    width: 100%;
    margin: auto;
    padding-top: 1px;
    padding-bottom: 1px;
}
.resource{
    width: 90%;
    margin: auto;
}
.resource-row{
    display: flex;
}
.resource-col{
    padding: 10px;
    padding-top: 50px;
    width: auto;
}
.resource-col-img{
    visibility: visible;
    cursor: pointer;
}
.resource-col p{
    font-size: 20px;
}
@media (max-width:768px){
    .resource-col-img{
        visibility: collapse;
        height: 0.1vh;
    }
    .reource-col-img img{
        visibility: collapse;
    }
    .resource-fluid {
        width: 100%;
        margin: auto;
        padding-top: 1px;
        padding-bottom: 1px;
    }
    .resource{
        width: 90%;
        margin: auto;
    }
    .resource-row{
        display: block;
    }
    .resource-col{
        padding: 1px;
        padding-top: 10px;
        width: auto;
        margin-bottom: 2pc;
    }
    .resource-col p{
        font-size: 16px;
    }
    .resource-col h3{
        font-size: 18px;
    }    
}



















/*CONTACT US*/

.location{
    width: 80%;
    margin: auto;
    padding: 80px 0; 
}
.location iframe{
    width: 100%;
}

.location-home{
    width: 100%;
    margin: auto;
    padding: 10px 0; 
    margin-top: 10%;
}
.location-home iframe{
    width: 100%;
    height: 100vh;
}

.contact-us{
    width: 80%;
    margin: auto;
    display: flex;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}
.contact-col input{
    width: 100%;
    padding: 15px;
    overflow-x: visible;
    overflow-y: visible;
    overflow: visible;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

@media (max-width: 728px){
.location-home{
    width: 100%;
    padding: 1px 0; 
    margin-top: 1%;
}
.location-home iframe{
    width: 100%;
    height: 50vh;
}
.contact-us{
    width: 80%;
    margin: auto;
    display: block;
}
.contact-col{
    margin-bottom: 30px;
    width: 80%;
}

.contact-col div .fa{
    font-size: 18px;
    color: #f44336;
    margin: 4px;
    margin-right: 10px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 16px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}
.contact-col input .contact-col textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
}








/*----------------HEADERS HEADERS HEADERS HEADERS-------------------*/


/*----------ABOUT US HEADER---------------*/
.about-header{
    height: 80vh;
    background-color: #000;
    width: 100%;
    margin-top: 10vh;
}
.about{
    height: 80vh;
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 1;
    overflow: hidden;
}
.about-img img{
    height: auto;
    width: 100%;
    position: absolute;
    overflow: hidden;
    opacity: 0.7;
}
.about-text-box{
    height: auto;
    width: 100%;
    color: #000;
    text-align: center;
    position: relative;
    margin-top: 400px;
}
.about-text-box h1{
    font-size: 50px;
    font-family: Verdana, Geneva,  Tahoma, italic, sans-serif;
    color: #ffff;
    font-weight: 400;
}
.about-text-box p{
    font-size: 20px;
    color: #fff;
}

@media(max-width:768px){
    .about-header{
        height: 36vh;
        background-color: #000;
        width: 100%;
        margin-top: -10px;
    }
    .about{
        height: 36vh;
        width: 100%;
        position: absolute;
        left: 0;
        opacity: 1;
        overflow: hidden;
    }
    .about-img img{
        height: auto;
        width: 100%;
        position: absolute;
        overflow: hidden;
        opacity: 0.5;
    }
    .about-text-box{
        height: auto;
        width: 100%;
        color: #000;
        text-align: center;
        position: relative;
        margin-top: 125px;
    }
    .about-text-box h1{
        font-size: 20px;
        font-family: Verdana, Geneva,  Tahoma, italic, sans-serif;
        color: #ffff;
        font-weight: 300;
    }

}

.about-tab{
    width: 100%;
    height: 10vh;
    margin-top: 0px;
    padding: 23px;
    margin-bottom: 100px;
}
.tab-content ul{
    display: flex;  
}
.tab-content ul li{
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    padding-left: 2%;
    font-size: 20px;
    
}
.tab-content ul li a{
    color: #bf0041;
    text-decoration: none;
}

@media(max-width:768px){
    .about-tab{
        width: 100%;
        height: auto;
        margin-top: 0px;
        padding: 2px;
        padding-left: 1%;
        margin-bottom: 20px;
    }
    .tab-content ul{
        display: block; 
        padding-top: 20px; 
    }
    .tab-content ul li{
        text-align: left;
        list-style-type: none;
        text-decoration: none;
        padding-top: 2%;
        border-bottom: solid 0.1px #333; 
        cursor: pointer;
        font-size: 18px;
    }
}









/*----------GET INVOLVED HEADER---------------*/
.involved-header{
    height: 80vh;
    background-color: #000;
    width: 100%;
}
.get-involved{
    height: 80vh;
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 1;
    overflow: hidden;
}
.involved-img img{
    height: auto;
    width: 100%;
    position: absolute;
    overflow: hidden;
    opacity: 0.9;
}
.involved-text-box{
    height: auto;
    width: 100%;
    color: #000;
    text-align: center;
    position: relative;
    margin-top: 400px;
}
.involved-text-box h1{
    font-size: 50px;
    font-family: Verdana, Geneva,  Tahoma, italic, sans-serif;
    color: #ffff;
    font-weight: 400;
}
.involved-text-box p{
    font-size: 20px;
    color: #fff;
}

@media(max-width:768px){
    .involved-header{
        height: 36vh;
        background-color: #000;
        width: 100%;
    }
    .get-involved{
        height: 36vh;
        width: 100%;
        position: absolute;
        left: 0;
        opacity: 1;
        overflow: hidden;
    }
    .involved-img img{
        height: auto;
        width: 100%;
        position: absolute;
        overflow: hidden;
        opacity: 0.9;
    }
    .involved-text-box{
        height: auto;
        width: 100%;
        color: #000;
        text-align: center;
        position: relative;
        margin-top: 125px;
    }
    .involved-text-box h1{
        font-size: 20px;
        font-family: Verdana, Geneva,  Tahoma, italic, sans-serif;
        color: #ffff;
        font-weight: 300;
    }

}

.involved-tab{
    width: 100%;
    height: 10vh;
    margin-top: 0px;
    padding: 23px;
}
.involved-tab-content ul{
    position: relative;
    display: flex;  
}
.involved-tab-content ul li{
    list-style-type: none;
    text-decoration: none;
    padding-left: 2%;
    font-size: 20px;
    
}
.involved-tab-content ul li a{
    color: #bf0041;
    text-decoration: none;
}

@media(max-width:768px){
    .involved-tab{
        width: 100%;
        height: auto;
        margin-top: 0px;
        padding: 2px;
        padding-left: 1%;
    }
    .involved-tab-content ul{
        display: block; 
        padding-top: 20px; 
    }
    .involved-tab-content ul li{
        text-align: left;
        list-style-type: none;
        text-decoration: none;
        padding-top: 2%;
        border-bottom: solid 0.1px #333; 
        cursor: pointer;
        font-size: 18px;
    }
}












/*------------PROGRAMS PROGRAMS PROGRAMS-------------*/
.program-header{
    height: 80vh;
    background-color: #000;
    width: 100%;
}
.program{
    height: 80vh;
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 1;
    overflow: hidden;
}
.program-img img{
    height: auto;
    width: 100%;
    position: absolute;
    overflow: hidden;
    opacity: 0.7;
}
.program-text-box{
    height: auto;
    width: 100%;
    color: #000;
    text-align: center;
    position: relative;
    margin-top: 400px;
}
.program-text-box h1{
    font-size: 50px;
    font-family: Verdana, Geneva,  Tahoma, italic, sans-serif;
    color: #ffff;
    font-weight: 400;
}
.program-text-box p{
    font-size: 20px;
    color: #fff;
}

@media(max-width:768px){
    .program-header{
        height: 36vh;
        background-color: #000;
        width: 100%;
    }
    .program{
        height: 36vh;
        width: 100%;
        position: absolute;
        left: 0;
        opacity: 1;
        overflow: hidden;
    }
    .program-img img{
        height: auto;
        width: 100%;
        position: absolute;
        overflow: hidden;
        opacity: 0.5;
    }
    .program-text-box{
        height: auto;
        width: 100%;
        color: #000;
        text-align: center;
        position: relative;
        margin-top: 125px;
    }
    .program-text-box h1{
        font-size: 20px;
        font-family: Verdana, Geneva,  Tahoma, italic, sans-serif;
        color: #ffff;
        font-weight: 300;
    }

}

.program-tab{
    width: 100%;
    height: 10vh;
    margin-top: 0px;
    padding: 23px;
}
.program-tab-content ul{
    position: relative;
    display: flex;  
}
.program-tab-content ul li{
    list-style-type: none;
    text-decoration: none;
    padding-left: 2%;
    font-size: 20px;
    
}
.program-tab-content ul li a{
    color: #bf0041;
    text-decoration: none;
}

@media(max-width:768px){
    .program-tab{
        width: 100%;
        height: auto;
        margin-top: 0px;
        padding: 2px;
        padding-left: 1%;
    }
    .program-tab-content ul{
        display: block; 
        padding-top: 20px; 
    }
    .program-tab-content ul li{
        text-align: left;
        list-style-type: none;
        text-decoration: none;
        padding-top: 2%;
        border-bottom: solid 0.1px #333; 
        cursor: pointer;
        font-size: 18px;
    }
}











/*------------RESOURCES RESOURCES RESOURCES-------------*/
.resource-header{
    height: 80vh;
    background-color: #000;
    width: 100%;
}
.resource-blog{
    height: 80vh;
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 1;
    overflow: hidden;
}
.resource-img img{
    height: auto;
    width: 100%;
    position: absolute;
    overflow: hidden;
    opacity: 0.7;
}
.resource-text-box{
    height: auto;
    width: 100%;
    color: #000;
    text-align: center;
    position: relative;
    margin-top: 400px;
}
.resource-text-box h1{
    font-size: 50px;
    font-family: Verdana, Geneva,  Tahoma, italic, sans-serif;
    color: #ffff;
    font-weight: 400;
}
.resource-text-box p{
    font-size: 20px;
    color: #fff;
}

@media(max-width:768px){
    .resource-header{
        height: 36vh;
        background-color: #000;
        width: 100%;
    }
    .resource-blog{
        height: 36vh;
        width: 100%;
        position: absolute;
        left: 0;
        opacity: 1;
        overflow: hidden;
    }
    .resource-img img{
        height: auto;
        width: 100%;
        position: absolute;
        overflow: hidden;
        opacity: 0.5;
    }
    .resource-text-box{
        height: auto;
        width: 100%;
        color: #000;
        text-align: center;
        position: relative;
        margin-top: 125px;
    }
    .resource-text-box h1{
        font-size: 20px;
        font-family: Verdana, Geneva,  Tahoma, italic, sans-serif;
        color: #ffff;
        font-weight: 300;
    }

}

.resource-tab{
    width: 100%;
    height: 10vh;
    margin-top: 0px;
    padding: 23px;
}
.resource-tab-content ul{
    position: relative;
    display: flex;  
}
.resource-tab-content ul li{
    list-style-type: none;
    text-decoration: none;
    padding-left: 2%;
    font-size: 20px;
    
}
.resource-tab-content ul li a{
    color: #bf0041;
    text-decoration: none;
}

@media(max-width:768px){
    .resource-tab{
        width: 100%;
        height: auto;
        margin-top: 0px;
        padding: 2px;
        padding-left: 1%;
    }
    .resource-tab-content ul{
        display: block; 
        padding-top: 20px; 
    }
    .resource-tab-content ul li{
        text-align: left;
        list-style-type: none;
        text-decoration: none;
        padding-top: 2%;
        border-bottom: solid 0.1px #333; 
        cursor: pointer;
        font-size: 18px;
    }
}








/*------------CONTACT CONTACT CONTACT US-------------*/
.contact-us-header{
    height: 80vh;
    background-color: #000;
    width: 100%;
}
.contact-us-contact{
    height: 80vh;
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 1;
    overflow: hidden;
}
.contact-us-img img{
    height: auto;
    width: 100%;
    position: absolute;
    overflow: hidden;
    opacity: 0.7;
}
.contact-us-text-box{
    height: auto;
    width: 100%;
    color: #000;
    text-align: center;
    position: relative;
    margin-top: 400px;
}
.contact-us-text-box h1{
    font-size: 50px;
    font-family: Verdana, Geneva,  Tahoma, italic, sans-serif;
    color: #ffff;
    font-weight: 400;
}
.contact-us-text-box p{
    font-size: 20px;
    color: #fff;
}

@media(max-width:768px){
    .contact-us-header{
        height: 36vh;
        background-color: #000;
        width: 100%;
    }
    .contact-us-contact{
        height: 36vh;
        width: 100%;
        position: absolute;
        left: 0;
        opacity: 1;
        overflow: hidden;
    }
    .contact-us-img img{
        height: auto;
        width: 100%;
        position: absolute;
        overflow: hidden;
        opacity: 0.5;
    }
    .contact-us-text-box{
        height: auto;
        width: 100%;
        color: #000;
        text-align: center;
        position: relative;
        margin-top: 125px;
    }
    .contact-us-text-box h1{
        font-size: 20px;
        font-family: Verdana, Geneva,  Tahoma, italic, sans-serif;
        color: #ffff;
        font-weight: 300;
    }

}




.about-us-tab{
    width: 100%;
    height: 10vh;
    margin-top: 0px;
    padding: 23px;
    margin-bottom: 20px;
    position: relative;

}


.about-us-tab-content1 ul{
    display: flex;
    float: left;  
}
.about-us-tab-content1 ul li{
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    padding-left: 2%;
    font-size: 20px;
    
}
.about-us-tab-content1 ul li a{
    color: #bf0041;
    text-decoration: none;
    float: left;
    padding-right: 50px;
}

@media(max-width:768px){
    .about-us-tab-content1 .about-us-tab-content2{
        width: 100%;
        height: auto;
        margin-top: 0px;
        padding: 2px;
        padding-left: 1%;
        margin-bottom: 20px;
    }
    .about-us-tab-content1 ul{
        display: block; 
        padding-top: 10px; 
    }
    .about-us-tab-content1 ul li{
        text-align: left;
        list-style-type: none;
        text-decoration: none;
        padding-top: 0%;
        cursor: pointer;
        font-size: 18px;
    }
}








.about-us-tab-content2 ul{
    display: flex;
    position: relative;
    float: right;
     
}
.about-us-tab-content2 ul li{
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    font-size: 20px;
    float: right; 
    
}
.about-us-tab-content2 ul li a{
    color: #bf0041;
    text-decoration: none;
    float: right;
    padding-right: 50px;
}

@media(max-width:768px){
    .about-us-tab-content2{
        width: 100%;
        height: auto;
        margin-top: 0px;
        padding: 2px;
        padding-left: 1%;
        margin-bottom: 20px;
    }
    .about-us-tab-content2 ul{
        display: block; 
        padding-top: 10px; 
    }
    .about-us-tab-content2 ul li{
        list-style-type: none;
        text-decoration: none;
        padding-top: 0%;
        cursor: pointer;
        font-size: 18px;
        float: right;
        
    }
    .about-us-tab-content2 ul li a{
        color: #bf0041;
        text-decoration: none;
        padding-right: 30px;
        
    }
}


/*--------------OUR HISTORY-----------------*/

.history{
    width: 100%;
    height: auto;
    margin: 50px;
}

.our-history{
    width: 90%;
    padding: 10px;
}

.our-history p{
    font-size: 20px;
    line-height: 2.3pc;
}

@media (max-width: 768px){
    .history{
        width: 100%;
        height: auto;
        margin: 2px;
    }
    .our-history{
        width: 90%;
        padding: 1px;
    }
    .our-history h4{
        font-size: 16px;
        padding-left: 10px;
    }
    .our-history p{
        font-size: 14px;
        line-height: 1.2pc;
        padding-left: 10px;
    }
    .our-history img{
        width: 100%;
    }
}

/*--------------WHO WE ARE-----------------*/

.about-us-who-we-are{
    width: 100%;
}

.who-we-are{
    width: 89%;
    padding-left: 100px;
}
.who-we-are-col{
    padding: 10px;
}
.who-we-are-col img{
    width: 100%;
}

.who-we-are-col{
    font-size: 20px;
}

@media(max-width: 768px){
    .about-us-who-we-are{
        width: 100%;
    }
    
    .who-we-are{
        width: 90%;
        padding-left: 1px;
    }
    .who-we-are-col{
        padding: 10px;
    }
    .who-we-are-col img{
        width: 100%;
    }
    
    .who-we-are-col{
        font-size: 16px;
    }
    
}




/*--------------VISION AND MISSION-----------------*/

.about-us-vision-and-mission{
    width: 100%;
}

.vision-and-mission{
    width: 89%;
    padding-left: 100px;
}
.vision-and-mission-col{
    padding: 10px;
}
.vision-and-mission-col img{
    width: 100%;
}

.vision-and-mission-col{
    font-size: 20px;
}

@media (max-width: 768px){
    .about-us-vision-and-mission{
        width: 100%;
    }
    
    .vision-and-mission{
        width: 90%;
        padding-left: 1px;
    }
    .vision-and-mission-col{
        padding: 10px;
    }
    .vision-and-mission-col img{
        width: 100%;
    }
    
    .vision-and-mission-col{
        font-size: 16px;
    }
}



/*--------------WHERE WE WORK-----------------*/

.about-us-where-we-work{
    width: 100%;
}

.where-we-work{
    width: 89%;
    padding-left: 100px;
}
.where-we-work-col{
    padding: 10px;
}
.where-we-work-col img{
    width: 100%;
}

.where-we-work-col{
    font-size: 20px;
}

@media (max-width: 768px){
    .about-us-where-we-work{
        width: 100%;
    }
    
    .where-we-work{
        width: 90%;
        padding-left: 1px;
    }
    .where-we-work-col{
        padding: 10px;
    }
    .where-we-work-col img{
        width: 100%;
    }
    
    .where-we-work-col{
        font-size: 16px;
    }

}



/*--------------OUR IMPACT CONTENT-----------------*/

.about-us-our-impact{
    width: 100%;
}

.our-impact{
    width: 89%;
    padding-left: 100px;
}
.our-impact-col{
    padding: 10px;
}
.our-impact-col img{
    width: 100%;
}
.our-impact-col{
    font-size: 20px;
}

@media (max-width: 768px){
    .about-us-our-impact{
        width: 100%;
    }
    
    .our-impact{
        width: 90%;
        padding-left: 1px;
    }
    .our-impact-col{
        padding: 10px;
    }
    .our-impact-col img{
        width: 100%;
    }
    .our-impact-col{
        font-size: 16px;
    }
}




/*--------------GET INVOLVED YOUTH EMPOWERMENT -----------------*/

.program-youth-empowerment{
    width: 100%;
}

.youth-empowerment{
    width: 89%;
    padding-left: 100px;
}
.youth-empowerment-col{
    padding: 10px;
}
.youth-empowerment-col img{
    width: 100%;
}
.youth-empowerment-col{
    font-size: 20px;
}

@media (max-width: 768px){
    .program-youth-empowerment{
        width: 100%;
    }
    
    .youth-empowerment{
        width: 90%;
        padding-left: 1px;
    }
    .youth-empowerment-col{
        padding: 10px;
    }
    .youth-empowerment-col img{
        width: 100%;
    }
    .youth-empowerment-col{
        font-size: 16px;
    }
}



/*--------------GET INVOLVED CAREERS -----------------*/

.get-involved-careers-container{
    width: 100%;
}

.careers{
    width: 80%;
    padding-left: 200px;
}
.get-involved-career-col{
    padding: 10px;
}
.get-involved-career-col p{
    font-size: 20px;
     font-weight: 250;
}
.get-involved-career-col h1{
    font-size: 30px; 
    font-weight: 500;
}

.get-involved-career-col ul{
    text-align: left;
    text-orientation: upright;
    list-style:circle;
    padding-left: 100px;
}

.get-involved-career-col ul a, p a{
    text-decoration: none;
    color: rgb(235, 36, 36, 0.8);
    font-size: 20px;
}

.get-involved-career-col ul a:hover
{
   
    color: rgb(235, 36, 36, 1);
}

.get-involved-career-col p a:hover
{
    text-decoration: none;
    color: rgb(235, 36, 36, 1);
}

.get-involved-career-col img{
    width: 100%;
}
.get-involved-career-col{
    font-size: 20px;
}

@media (max-width: 768px){
    .get-involved-careers-container{
        width: 100%;
    }
    
    .careers{
        width: 90%;
        padding-left: 1px;
    }
    .get-involved-career-col{
        padding: 10px;
    }
      
    .get-involved-career-col p{
        font-size: 15px; 
        font-weight: 250;
    }
    .get-involved-career-col h1{
        font-size: 20px; 
        font-weight: 500;
    }

    .get-involved-career-col h3{
        font-size: 18px; 
        font-weight: 500;
    }
    .get-involved-career-col ul a{
        text-decoration: none;
        color: rgb(235, 36, 36);
        font-size: 14px;
    }

    .get-involved-career-col ul{
        text-align: left;
        text-orientation: upright;
        list-style: none;
        padding-left: 10px;
    }
    

    .get-involved-career-col img{
        width: 100%;
    }
    .get-involved-career-col{
        font-size: 16px;
    }
}




/*--------------GET INVOLVED INTERNSHIP -----------------*/

.get-involved-internship-container{
    width: 100%;
}

.internship{
    width: 89%;
    padding-left: 100px;
}
.get-involved-internship-col{
    padding: 10px;
}
.get-involved-internship-col img{
    width: 100%;
}
.get-involved-internship-col{
    font-size: 20px;
}

@media (max-width: 768px){
    .get-involved-internship-container{
        width: 100%;
    }
    
    .internship{
        width: 90%;
        padding-left: 1px;
    }
    .get-involved-internship-col{
        padding: 10px;
    }
    .get-involved-internship-col img{
        width: 100%;
    }
    .get-involved-internship-col{
        font-size: 16px;
    }
}








/*--------------GET INVOLVED VOLUNTEER -----------------*/

.get-involved-volunteer-container{
    width: 100%;
}

.volunteer{
    width: 89%;
    padding-left: 100px;
}
.get-involved-volunteer-col{
    padding: 10px;
}
.get-involved-volunteer-col img{
    width: 100%;
}
.get-involved-volunteer-col{
    font-size: 20px;
}

.get-involved-volunteer-col ol li{
    font-size: 20px;
}

.get-involved-volunteer-col ol li ol li{
    list-style-type: lower-roman;
    font-size: 20px;
    margin-left: 100px;
}

@media (max-width: 768px){
    .get-involved-volunteer-container{
        width: 100%;
    }
    
    .volunteer{
        width: 92%;
        padding-left: 15px;
    }
    .get-involved-volunteer-col{
        padding: 1px;
    }
    .get-involved-volunteer-col img{
        width: 100%;
    }
    .get-involved-volunteer-col{
        font-size: 14px;
    }
    .get-involved-volunteer-col ol li{
        font-size: 14px;
    }
    
    .get-involved-volunteer-col ol li ol li{
        list-style-type: lower-roman;
        font-size: 14px;
        margin-left: 1px;
    }

}









/*-----------GET INVOLVED DONATE DONATE----------------*/

.donations{
    height: auto;
    width: 100%;
}
.donate-container{
    width: 87%;
    margin-left: 100px;
    

}
.paypal{
    width: 80%;
    height: 90vh;
    display: flex;
    background: url(/images/body/samyy.jpg);
    background-size: cover;
    margin-left: 40px;
    
}

.paypal-content{
    width: 45%;
    font-size: 23px;
    padding: 20px;
    padding-top: 50px;
    
    margin-bottom: 0px;
    background-color: rgba(172, 171, 175, 0.9);
    border-radius: 10px;

}

.paypal-header{
    color: #fff;
}
.paypal-content form{
    font-size: 100px;
}

.mpesa-content{
    width: 40%;
    padding-top: 45px;
    margin-left: 400px;
}

@media (max-width:768px){
    .donations{
        height: auto;
        width: 100%;
    }
    .donate-container{
        width: 100%;
        margin-left: 1px;
    }
    .paypal{
        background-image: none;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: auto;
        display: block;
    }
    .paypal-content{
        width: 100%;
        padding-top: 10px;
        margin-left: 5px;
    }
    .mpesa-content{
        width: 100%;
        padding-top: 10px;
        margin-left: 5px;
    }
    

}



/*--------------STRATEGIC PLAN----------------*/

.strategic-plan-container{
    width: 100%;
}

.strategic-plan{
    width: 89%;
    padding-left: 100px;
}
.strategic-plan-col{
    padding: 10px;
}
.strategic-plan-col img{
    width: 100%;
}
.strategic-plan-col{
    font-size: 20px;
}

@media (max-width: 768px){
    .strategic-plan-container{
        width: 100%;
    }
    
    .strategic-plan{
        width: 90%;
        padding-left: 1px;
    }
    .strategic-plan-col{
        padding: 10px;
    }
    .strategic-plan-col img{
        width: 100%;
    }
    .strategic-plan-col{
        font-size: 16px;
    }
}





/*--------------BRANCHERS KERICHO BRANCH---------------*/


.branch-container{
    margin: 0px;
}

.branch-content{
    width: 80%;
    display: flex;
    margin-left: 125px;
   

}
.branch-img-one img{
    width: 600px;
    margin-left: 20px;
    border-radius: 10px;
    margin-bottom: 0px;
}

.branch-content-main{
    width: 80%;
    display: block;
    margin-left: 125px;
}

.branch-content-main-one{
    width: 80%;
    display: flex;
    margin-left: 125px;
}
.branch-img-two img{
    width: 600px;
    margin-right: 20px;
    border-radius: 20px;
}


@media(max-width:768px){
    .branch-container{
        margin: 0px;
    }
    
    .branch-content{
        width: 100%;
        display: block;
        margin-left: 1px;
       
    
    }
    .branch-img-one img{
        width: 100%;
        margin-left: 2px;
        border-radius: 1px;
        margin-bottom: 0px;
    }
            
        .branch-content-main{
            width: 100%;
            display: block;
            margin-left: 1px;
        }

        .branch-content-main-one{
            width: 100%;
            display: block;
            margin-left: 1px;
        }
        .branch-img-two img{
            width: 100%;
            margin-right: 1px;
            border-radius: 1px;
        }
        }



        /*------------OUR PATNERS FOR WIDE SCREEN-----------*/

        .partners-container-wideview{
            height: 20vh;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

        .partners-col{
            width: 80%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

        @media (max-width:768px){

            .partners-container-wideview{
                width: 100%;
                padding-right: 1px;
                padding-left: 1px;
              
                
            }
    
            .partners-col{
                width: 90%;
                padding-right: 1px;
                padding-left: 1px;
                
            
            }
            .partners-col .slide img{
                width: 100px;
            }

        }

         /*------------OUR PATNERS FOR small 

         .partners-container-smallview{
            height: -1000px;
            padding-right: 0px;
            padding-left: 0px;
            margin-right: -100px;
            margin-left: -100px;
            visibility: hidden;
         }

         .partners-col-smallview{
            height: -1000px;
            padding-right: 0px;
            padding-left: 0px;
            margin-right: -100px;
            margin-left: -100px;
            visibility: hidden;
         }

         .partners-col-smallview img{
             margin: -1000px;
             visibility: hidden;
         }

         @media(max-width: 768px){
            .partners-container-smallview{
                width: 100%;
                padding-right: 15px;
                padding-left: 15px;
                margin-right: auto;
                margin-left: auto;
                visibility: visible;
             }
    
             .partners-col-smallview{
                width: 100%;
                padding-right: 15px;
                padding-left: 15px;
                margin-right: auto;
                margin-left: auto;
                visibility: visible;
             }
    
             .partners-col-smallview img{
                 margin: 20px;
                 width: 200px;
                 visibility: visible;
             }
         }
         SCREEN-----------*/
